.create-post-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
  }
.create-post-form {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 1vh;
  }
  
  .create-post-textarea {
    width: 20vh;
    height: 3vh;
    padding: 2rem;
    border: 4px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .create-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1rem; 
  }
  
  .create-post-icon {
    font-size: 1.5rem;
  }
  
  @media (max-width: 768px) {
    .create-post-container {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 1rem;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 4%;
      margin-bottom: 3%;
    }
    .create-post-form {
      width: 100%; 
      margin-left: 4%;
    }
  
    .create-post-textarea {
      height: 3vh;
      width: 150px
    }
  
    .create-post-button {
      width: 40px; 
      height: 40px; 
      font-size: 1rem; 
    }
  }
  

  @media (max-width: 480px) {
    .create-post-container {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 1rem;
      margin-left: 0;
      margin-right: 0%;
      margin-top: 0%;
      margin-bottom: 0%;
    }
    .create-post-form {
      width: 100%; 
      margin-left: 20%;
      margin-right: 20%;
    }
  
    .create-post-textarea {
      height: 3vh;
      width: 150px
    }
  
    .create-post-button {
      width: 40px; 
      height: 40px; 
      font-size: 1rem; 
    }
  }
  
  