.main-div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.left-section{
  background-color: black;
  position: sticky;
  max-width: 10vh;
  max-height: 100%;
  margin-right: 10%;
  
}

.second-section{
  display: flex;
  margin-top: 15px;
}
.bookmark-card{
  border: 2px black solid;
  max-width: 70vh;
}
.bookmark-empty{
  padding: 2%;
}


@media only screen and (max-width: 768px) {
  

.main-div{
  display:flex;
  flex-direction: column-reverse;
  margin-left: 0%;
  margin-right: 0%;
}
.second-section{
  display: flex;
  flex-direction: column;
  
}
.left-section{
  background-color: black;
  position: sticky;
  bottom: 0;
  max-width: 100%;
  margin-right: 0;
  
}
.bookmark-card{
  border: 2px black solid;
  width: 50vh;
}
.bookmark-empty{
  padding: 2%;
  margin: 4%;
}
}


